gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle
android/local.properties

# Firebase
google-services.json
firebase_options.dart

# IDE
.idea/
.vscode/

# Misc
*.log
*.tmp
